body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  display:block;
  width:100%;
  font-size: 4vh;
  
}

.legend {font-size:1.5vh;}
.expense:before{
	content:'.';
	background-color:black;
	color:black;
	width:3vh;
	display:inline-block;
	margin: 0 0.5vh 0 0.5vh
}
.highest-expense:before{
	content:'.';
	background-color:purple;
	color:purple;
	width:3vh;
	display:inline-block;
  margin: 0 0.5vh 0 2.5vh
}

.digid{
  display: flex;
  justify-content: center;
}

img{
  margin-top: 2rem;
  width: 50%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.bar-chart{
  font-size: 0.2rem;
  width: 100%;
}